body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

h1 {
    color: yellow;
    text-align: center;
}

h2 {
    color: white;
    background: radial-gradient(orange, black);
    width: fit-content;
}

p {
    color: black;
    font-weight: bold;
}

#message {
    color: white;
}

img {
    height:90px;
    margin: 9px;
}

span {
    float: left;
    border: solid green 3.5px;
    margin: 3px;
}

.characters {
    background-color: white;
}

.characters :hover {background-color: turquoise;
}

.chosen {
    background-color: turquoise;
}

.enemies {
    background-color: lightcoral;
}

.enemies :hover {background-color: red;
}

.enemy-chosen {
    background-color: red;
}

p {
    text-align: center;
}

#message {
    color: black;
    background: white;
    padding: 3px;
}